<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NJKAlbumDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E370E7AE1C7EE2A200A26F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370E7C71C7EE2A300A26F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E370E7D21C7EE2A300A26F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
